<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
      <main>
        <% if(orders.length> 0){ %>
          <ul>
            <% orders.forEach((order)=> { %>
              <li>
                <h1># <%= order._id %>
                </h1>
                <ul>
                  <% order.products.forEach((_product)=> { %>
                    <li>
                      <%= _product.product.title %>
                        (<%= _product.quantity %>)
                    </li>
                    <% }) %>
                </ul>
              </li>
              <% }); %>
          </ul>
          <% } else { %>
            <h1>No order placed yet!</h1>
            <% } %>
      </main>
      <%- include('../includes/end.ejs') %>